:root,
::before,
::after {
  --primary: var(--spice-primary);
  --secondary: var(--spice-secondary);
  --textColor: var(--spice-text);
  --textSecondary: var(--spice-subtext);
  --textHighlight: var(--spice-texthighlight);
  --background: linear-gradient(
      30deg,
      var(--spice-primary) 0%,
      var(--spice-secondary) 100%
  );
  --buttonColor: var(--spice-button);
  --buttonBackground: linear-gradient(
      215deg,
      var(--spice-primary) 0%,
      var(--spice-secondary) 100%
  );
  --panelColor: var(--spice-rgb-panelcolor);
  --panelOpacity100: 0.3;
  --panelOpacity150: 0.4;
  --panelOpacity200: 0.6;
  --panelOpacity250: 0.7;
  --panelOpacity300: 0.8;
  --progressBarColor: var(--background);
  --progressBarBackground: var(--spice-progressbg);
  --progressBarRadius: 3px;
  --progressBarHeight: 6px;
}

input,
.main-rootlist-rootlistDividerGradient,
.main-home-homeHeader,
.x-entityHeader-overlay,
.x-actionBarBackground-background,
.main-actionBarBackground-background,
.main-entityHeader-overlay,
.main-entityHeader-backgroundColor,
.main-topBar-background,
.main-rootlist-rootlistDivider,
.playlist-playlist-playlistContent,
.main-navBar-navBarLink,
.main-navBar-navBarLinkActive,
.main-topBar-overlay,
.main-userWidget-box:focus,
.main-userWidget-box:hover,
.main-userWidget-box,
.main-avatar-userIcon,
.main-contextMenu-menu,
.main-createPlaylistButton-createPlaylistIcon {
  background: transparent;
  background-color: unset !important;
  background-image: unset !important;
}

.connect-title,
.connect-header {
  display: none;
}

.main-cardImage-imageWrapper {
  background-color: transparent;
}

.main-entityHeader-imagePlaceholder {
  background: var(--background);
  color: var(--textColor);
}

[id^=tippy-] {
  backdrop-filter: blur(4px);
}

.main-contextMenu-menu {
  background: rgba(var(--panelColor), var(--panelOpacity250)) !important;
  border-radius: 15px;
}
.main-contextMenu-menu .main-contextMenu-menuItemButton:focus, .main-contextMenu-menu .main-contextMenu-menuItemButton:hover {
  background-color: rgba(var(--spice-rgb-selected-row), 0.1) !important;
  color: var(--spice-text) !important;
  text-decoration: none;
  border-radius: 15px;
}

select option {
  color: var(--textColor);
  background: var(--secondary);
}

[class*=-tabBar-dropdownItemLink].queue-tabBar-active, [class*=-tabBar-dropdownItemLink]:focus, [class*=-tabBar-dropdownItemLink]:hover {
  background-color: rgba(var(--spice-rgb-selected-row), 0.1) !important;
  color: var(--spice-text) !important;
  text-decoration: none;
  border-radius: 15px;
}

[class*=-tabBar-headerItemLink],
[class*=-tabBar-moreButton] {
  background: rgba(var(--panelColor), var(--panelOpacity100)) !important;
  border-radius: 20px !important;
}
[class*=-tabBar-headerItemLink][class*=-tabBar-active], [class*=-tabBar-headerItemLink][class*=-tabBar-moreButtonActive],
[class*=-tabBar-moreButton][class*=-tabBar-active],
[class*=-tabBar-moreButton][class*=-tabBar-moreButtonActive] {
  background: rgba(var(--panelColor), var(--panelOpacity200)) !important;
}

.main-dropDown-dropDown {
  background: var(--background);
  border-radius: 32px;
  color: var(--textColor);
}

.progress-bar__bg,
.progress-bar__fg_wrapper {
  border-radius: var(--progressBarRadius);
  height: var(--progressBarHeight);
  background: var(--progressBarBackground);
}

.progress-bar__fg {
  border-radius: var(--progressBarRadius);
  height: var(--progressBarHeight);
  background: var(--progressBarColor);
}

.main-type-finale {
  color: var(--textColor) !important;
  z-index: 1;
}

.x-toggle-indicatorWrapper {
  background: var(--background);
  transition: 0.3s;
}
.x-toggle-indicatorWrapper:hover {
  transform: scale(1.05);
}
.x-toggle-indicatorWrapper .x-toggle-indicator {
  top: 2.5px;
}

.main-card-card {
  background: rgba(var(--panelColor), var(--panelOpacity200)) !important;
}
.main-card-card:hover {
  background: rgba(var(--panelColor), var(--panelOpacity100)) !important;
}

* {
  color: var(--textColor);
}

input {
  color: var(--textColor) !important;
}

.main-topBar-background {
  background: linear-gradient(rgba(var(--panelColor), var(--panelOpacity200)), rgba(var(--panelColor), var(--panelOpacity200))), var(--background) !important;
}

.main-trackList-trackListHeader {
  color: var(--textColor);
}

.main-trackList-trackListHeaderStuck {
  background: linear-gradient(rgba(var(--panelColor), var(--panelOpacity150)), rgba(var(--panelColor), var(--panelOpacity150))), var(--background) !important;
}

.main-trackList-trackList {
  border: none !important;
}

.main-userWidget-box,
.main-avatar-userIcon {
  background: rgba(var(--panelColor), var(--panelOpacity100)) !important;
}
.main-userWidget-box:hover,
.main-avatar-userIcon:hover {
  background: rgba(var(--panelColor), var(--panelOpacity150)) !important;
}

.x-searchInput-searchInputInput,
.x-searchInput-searchInputInput::placeholder,
.x-searchInput-searchInputSearchIcon {
  color: var(--textColor) !important;
}

.main-nowPlayingBar-container {
  border-top: none;
}
.main-nowPlayingBar-container::before {
  content: "";
  width: 100%;
  height: 5px;
  background: var(--progressBarColor);
}

.main-nowPlayingBar-nowPlayingBar {
  background: rgba(var(--panelColor), var(--panelOpacity200)) !important;
}

.main-coverSlotExpanded-container {
  margin-bottom: 8px;
}

.main-playButton-PlayButton.main-playButton-primary {
  background: var(--buttonBackground);
}

.player-controls__buttons {
  align-items: center;
}
.player-controls__buttons button {
  color: var(--buttonColor) !important;
}
.player-controls__buttons button.main-playPauseButton-button {
  background: var(--buttonBackground);
  width: 42px;
  height: 42px;
}
.player-controls__buttons button.main-playPauseButton-button svg {
  height: 20px;
  width: 20px;
}
.player-controls__buttons button::before {
  border-radius: 50%;
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--buttonBackground);
  z-index: -1;
  transition: 0.3s;
  opacity: 0;
}
.player-controls__buttons button::after {
  display: none !important;
}
.player-controls__buttons button:not([disabled]):hover, .player-controls__buttons button:not([disabled])[class$=-on] {
  color: var(--buttonColor) !important;
  background: var(--buttonBackground);
  border-radius: 50%;
}
.player-controls__buttons button:not([disabled]):hover::before, .player-controls__buttons button:not([disabled])[class$=-on]::before {
  opacity: 1;
}
.player-controls__buttons button:not([disabled]):hover {
  transform: scale(1.08);
}

.main-topBar-button {
  background: transparent;
  background: rgba(var(--panelColor), var(--panelOpacity200)) !important;
  border-radius: 50%;
}

.x-settings-facebookButton,
.x-settings-facebookButton:active,
.x-settings-facebookButton:focus,
.x-settings-facebookButton:hover,
.main-buttons-button:not(.main-entityHeader-titleButton) {
  background: var(--background) !important;
  border: none;
}

.main-trackList-trackListRow:focus-within .main-trackList-addToPlaylistButton, .main-trackList-trackListRow:focus .main-trackList-addToPlaylistButton, .main-trackList-trackListRow:hover .main-trackList-addToPlaylistButton {
  border: none !important;
}

.main-createPlaylistButton-createPlaylistIcon {
  background: rgba(var(--panelColor), var(--panelOpacity200)) !important;
  color: var(--textColor);
  border-radius: 50%;
}

.main-deletePlaylistDialog-secondaryButton {
  color: var(--textColor);
}

.link-subtle {
  color: var(--textSecondary) !important;
}

.main-navBar-navBarLink.main-navBar-navBarLinkActive {
  background: rgba(var(--panelColor), var(--panelOpacity100)) !important;
}
.main-navBar-navBarLink.main-navBar-navBarLinkActive::before {
  height: 40px;
  margin: 0px -24px;
  border-radius: 20px;
}

#main,
.main-nowPlayingBar-container {
  background: var(--background);
}

.Root {
  background: rgba(var(--panelColor), var(--panelOpacity100)) !important;
}

.main-buddyFeed-buddyFeed,
.Root__nav-bar {
  background: rgba(var(--panelColor), var(--panelOpacity100)) !important;
}

.main-trackList-trackListRow.main-trackList-active:hover .main-trackList-rowMarker,
.main-trackList-trackListRow.main-trackList-active:hover .main-trackList-rowTitle, .main-trackList-trackListRow.main-trackList-active:focus .main-trackList-rowMarker,
.main-trackList-trackListRow.main-trackList-active:focus .main-trackList-rowTitle, .main-trackList-trackListRow.main-trackList-active:focus-within .main-trackList-rowMarker,
.main-trackList-trackListRow.main-trackList-active:focus-within .main-trackList-rowTitle {
  color: var(--textHighlight);
}

.main-trackList-playingIcon {
  filter: brightness(10) grayscale(1);
}

/*# sourceMappingURL=user.css.map */
