@import "./functions.scss";

//////////////////////////////////////////////////////
//// Bottom Bar
//////////////////////////////////////////////////////

.main-nowPlayingBar-container {
    border-top: none;
    &::before {
        content: "";
        width: 100%;
        height: 5px;
        background: var(--progressBarColor);
    }
}

.main-nowPlayingBar-nowPlayingBar {
    @include panel(var(--panelTransparency200));
}

.main-coverSlotExpanded-container {
    margin-bottom: 8px;
}

.main-nowPlayingWidget-coverArt {
    .cover-art {
        @include panel(var(--panelTransparency10));
        img {
            border-radius: 5px;
        }
    }
}
