@use "./variables.scss";
@use "./reset.scss";

@use "./ui.scss";
@use "./text.scss";
@use "./buttons.scss";

@use "./topbar.scss";
@use "./bottombar.scss";
@use "./sidebar.scss";
@use "./artist.scss";
@use "./settings.scss";

@import "./functions.scss";

//////////////////////////////////////////////////////
//// Main
//////////////////////////////////////////////////////

#main,
.main-nowPlayingBar-container {
    background: var(--background);
}

.Root {
    @include panel(var(--panelTransparency100));
}

.main-buddyFeed-buddyFeed,
.Root__nav-bar {
    @include panel(var(--panelTransparency100));
}

.main-trackList-trackListRow.main-trackList-active {
    &:hover,
    &:focus,
    &:focus-within {
        .main-trackList-rowMarker,
        .main-trackList-rowTitle {
            color: var(--textHighlight);
        }
    }
}

.main-trackList-playingIcon {
    filter: brightness(10) grayscale(1);
}

.main-view-container__scroll-node-child {
    section,
    .contentSpacing {
        width: 100%;
    }
}

.main-actionBarBackground-background {
    left: 0;
    right: 0;
}
