@use "./variables.scss";
@use "./reset.scss";

@use "./ui.scss";
@use "./text.scss";
@use "./topbar.scss";
@use "./bottombar.scss";
@use "./buttons.scss";
@use "./links.scss";

@import "./functions.scss";

//////////////////////////////////////////////////////
//// Main
//////////////////////////////////////////////////////

#main,
.main-nowPlayingBar-container {
    background: var(--background);
}

.Root {
    @include panel(var(--panelOpacity100));
}

.main-buddyFeed-buddyFeed,
.Root__nav-bar {
    @include panel(var(--panelOpacity100));
}

.main-trackList-trackListRow.main-trackList-active {
    &:hover,
    &:focus,
    &:focus-within {
        .main-trackList-rowMarker,
        .main-trackList-rowTitle {
            color: var(--textHighlight);
        }
    }
}

.main-trackList-playingIcon {
    filter: brightness(10) grayscale(1);
}
