@import "./functions.scss";

//////////////////////////////////////////////////////
//// UI
//////////////////////////////////////////////////////

//////////////////////////////////////////////////////
// Header
//////////////////////////////////////////////////////

// Image Placeholder
.main-entityHeader-imagePlaceholder {
    background: var(--background);
    color: var(--textColor);
}

.main-entityHeader-background {
    &.main-entityHeader-gradient {
        -webkit-transform: unset !important;
        transform: unset !important;
        opacity: calc(1 - calc(var(--scroll) * 3));
    }

    &.main-entityHeader-overlay {
        &:after {
            background-image: unset !important;
        }
    }
}

//////////////////////////////////////////////////////
// Dropdown
//////////////////////////////////////////////////////

[id^="tippy-"] {
    backdrop-filter: blur(4px);
}

.main-contextMenu-menu {
    @include panel(var(--panelTransparency250));
    border-radius: 15px;

    .main-contextMenu-menuItemButton {
        border-radius: 15px;

        &:focus,
        &:hover {
            background-color: rgba(
                var(--spice-rgb-selected-row),
                0.1
            ) !important;
            color: var(--spice-text) !important;
            text-decoration: none;
            border-radius: 15px;
        }
    }
}

select option {
    color: var(--textColor);
    background: var(--secondary);
}

// TabBar Styling
[class*="-tabBar-dropdownItemLink"] {
    &.queue-tabBar-active,
    &:focus,
    &:hover {
        background-color: rgba(var(--spice-rgb-selected-row), 0.1) !important;
        color: var(--spice-text) !important;
        text-decoration: none;
        border-radius: 15px;
    }
}

[class*="-tabBar-headerItemLink"],
[class*="-tabBar-moreButton"] {
    @include panel(var(--panelTransparency100));
    border-radius: 20px !important;

    &[class*="-tabBar-active"],
    &[class*="-tabBar-moreButtonActive"] {
        @include panel(var(--panelTransparency200));
    }
}

//////////////////////////////////////////////////////
// Progress Bar
//////////////////////////////////////////////////////

.progress-bar__bg,
.progress-bar__fg_wrapper {
    border-radius: var(--progressBarRadius);
    height: var(--progressBarHeight);
    background: var(--progressBarBackground);
}

.progress-bar__fg {
    border-radius: var(--progressBarRadius);
    height: var(--progressBarHeight);
    background: var(--progressBarColor);
}

//////////////////////////////////////////////////////
// Timer
//////////////////////////////////////////////////////

.main-type-finale {
    color: var(--textColor) !important;
    z-index: 1;
}

//////////////////////////////////////////////////////
// Cards
//////////////////////////////////////////////////////

.main-card-card {
    @include panel(var(--panelTransparency200));
    border-radius: 15px;

    &:hover {
        @include panel(var(--panelTransparency100));
    }
}

.x-searchResults-topResult {
    @include panel(var(--panelTransparency200));
    border-radius: 15px !important;
}

.main-cardImage-imageWrapper img {
    border-radius: 15px;
}

.x-heroCategoryCard-HeroCategoryCard,
.x-categoryCard-CategoryCard {
    &::after {
        content: "";
        background: linear-gradient(45deg, black, transparent);
        opacity: var(--panelTransparency200);
        z-index: 1;
    }

    .x-heroCategoryCard-heroTitle,
    .x-heroCategoryCard-heroImage,
    .x-categoryCard-title,
    .x-categoryCard-image {
        z-index: 2;
    }
}

.x-heroCategoryCard-HeroCategoryCard {
    &::after {
        position: absolute;
        inset: 0;
    }

    .x-heroCategoryCard-heroTitle,
    .x-heroCategoryCard-heroImage {
        z-index: 2;
    }
}

.x-carousel-carousel {
    width: 100%;
}

//////////////////////////////////////////////////////
//// Links
//////////////////////////////////////////////////////

.link-subtle {
    color: var(--textSecondary) !important;
}

//////////////////////////////////////////////////////
//// Modals
//////////////////////////////////////////////////////

.GenericModal > div {
    @include panel(var(--panelTransparency150));
}
